@import "libs/_mixins.scss";

$font1 : "Norwester";
$font2 : "Helvetica";
:root{
    // couleurs
    --primaryColor: #1D1747;
    --primaryColorDarker: #100d24;
    --secondaryColor: #E7C377;

    // fonts
    --font1 : #{$font1};
    --font2 : #{$font2};
}


/* AJOUT DES FONTS */ 
$font-folder-path: "../fonts";

@include font-face(#{$font1}, "#{$font-folder-path}/#{$font1}/norwester.otf",       "opentype", normal,  normal);
@include font-face(#{$font2}, "#{$font-folder-path}/#{$font2}/Helvetica.ttf",       "truetype", normal,  normal);
@include font-face(#{$font2}, "#{$font-folder-path}/#{$font2}/Helvetica-Bold.ttf",  "truetype", bold,    normal);


/* GENERIQUE */
// HTML Elements
$nav-height: 100px;
body{
    font-family: v(font2);
    color: white;
    background-color: v(primaryColor);
    padding-top: $nav-height;
}

h1, h2{
    font-family: v(font1);
    color: v(secondaryColor);
}

// Custom Elements
section{
    @include margin-inline(auto);
    @include padding-inline(50px);

    &.large{
        max-width: 1920px;
    }
    &.medium{
        max-width: 1400px;
    }
    &.small{
        max-width: 900px;
    }
}

nav.main-navigation{
    font-family: v(font2);
    background-color: transparent;
    backdrop-filter: blur(25px);

    @include custom-flexbox(row wrap, space-between, center, center);
    padding: 30px 90px;

    position: fixed;
    top: 0;

    .nav-link{
        position: relative;

        &-icon{
            height: 30px;
            aspect-ratio: 1/1;
        }
        &.has-notification{
            animation: notificationBounce 2s;

            &::after{
                content: attr(data-nbrevents);
                font-family: v(font2);
                font-weight: bold;
                position: absolute;
                left: -4px;
                top: -4px;

                background-color: v(primaryColor);
                color: v(secondaryColor);
                
                $fontSize: 14; //px
                width: #{$fontSize * 1.5}px; // sinon le numéro est rectangulaire (car inline). Ici, on peut juste changer la font-size et obtenir un résultat carré sans fixer de width en dur
                font-size: #{$fontSize / 10}rem;
                border-radius: 50%;

                text-align: center;
                
            }
        }
    }


    // menu des pages
    $menu-toggle-icon-strokeHeight : 2px;
    $menu-toggle-icon-width : 15px;
    $menu-toggle-icon-gap : 2px;
    $menu-toggle-icon-Ycorrection : 4px;
    .left{
        @include custom-flexbox(row nowrap, center, center, center);

        #home-link{
            margin-right: 40px;
        }

        // toggle button
        .menu-toggle{
            font-family: v(font2);
            border: none;
            background: transparent;
            color: white;
            font-weight: bold;
            padding: 0;
            padding-left: 25px;
            position: relative;
            
    
            &::before,
            &::after{
                content: "";
                display: block;
                
                height: $menu-toggle-icon-strokeHeight;
                background-color: white;
                position: absolute;
                left: 0;
    
                transition: all .3s;
            }
            
            
            &::before{
                bottom: #{$menu-toggle-icon-Ycorrection + $menu-toggle-icon-strokeHeight + $menu-toggle-icon-gap};
                width: $menu-toggle-icon-width * 0.75;
                margin-right: $menu-toggle-icon-width * 0.25; // sinon le trait se cale sur la droite et pas sur la gauche
            }
            
            &::after{
                bottom: #{$menu-toggle-icon-Ycorrection};
                width: $menu-toggle-icon-width;
            }
        }
    
        // menu container
        .menu-menu-1-container{
            position: absolute;
            pointer-events: none;
            
            &::before{
                content: "";
                position: absolute;
                display: block;
                bottom: -100px;
                left: -50%;
                transform: translateX(-50%) scale(0);
                width: 100%;
                height: 100%;
                z-index: -1;
                
                width: 1000px;
                height: 1000px;
                border-radius: 100%;
    
                pointer-events: none;
    
                background-color: v(primaryColorDarker);
                opacity: 0.95;
    
                transition: transform .3s;
    
            }
            
            #primary-menu{
                padding-top: 50px;
                margin-left: 30px;
                margin-right: -30px;
    
                .menu-item a{
                    font-weight: bold;
                    color: white;
                    line-height: 3rem;

                    &:hover{
                        color: v(secondaryColor);
                    }
                }
            }
    
        }
    
    }
    &.toggled{ 
        // En soi, c'est "nav" qui est toggled et pas .left, 
        // mais le toggle ne concerne ici que .left (le menu de liens) 
        // donc je les mets à coté.
        .left{            
            .menu-menu-1-container::before{
                transform: translateX(-50%) scale(1);
            }
            .menu-toggle{
                &::before{
                    margin-right: 0;
                    transform: rotate(45deg) translateY(-50%);
                    width: $menu-toggle-icon-width;
                    bottom: calc(50% - $menu-toggle-icon-Ycorrection);
                }
                &::after{
                    transform: rotate(-45deg) translateY(-50%);
                    bottom: calc(50% - $menu-toggle-icon-Ycorrection);
                    left: 1px;
                }
            }
        }
    } 

    // liens diverses
    .right{
        @include custom-flexbox(row nowrap, center, center, center);

        .nav-link:not(:last-child){
            margin-right: 15px;
        }
    }
}

.bubbleAndText{
    @include custom-flexbox(row wrap, center, center, center);

    > * {
        @include flex(1);
    }

    .bubbles{
        .bubble{
            width: v(bubbleWidth);
            height: v(bubbleHeight);
            background-color: red;
            border: black 1px solid;
        }
    }

    .text{
        margin-top: 50px;
        font-weight: bold;
        max-width: 500px;
        position: relative;

        &::before,
        &::after{
            content: "";
            top: 0;
            left: 0;
            transform: translate(-50%, -30%);
            position: absolute;
            z-index: -1;

            display: block;
            width: 100%;
            aspect-ratio: 1/1;

            background-color: #231C59;
            border-radius: 50%;
        }

        &::before{
            filter: blur(15px);
        }
    }
}


// Animations
@keyframes notificationBounce{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-14px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}