@import "libs/_mixins.scss";

:root{

}

// Generic
.banner{
    height: 30vh;
    margin-bottom: 150px;
    @include custom-flexbox(column nowrap, center, center, center);
    
    .wrapper-bannerContent{
        @include custom-flexbox(row nowrap, center, center, center);

        h1{
            font-size: 8rem;
            margin-right: -90px;
            z-index: 1;
            margin-top: 50px;
        }

        .logo{
            width: 200px;
            opacity: 55%;
            user-select: none;
        }
    }

}




// Page Trombinoscope
.page-template-template-trombinoscope{

    .spacer{
        background: v(background);
        background-attachment: fixed;
        background-size: 100% auto;

        box-shadow: 
        inset 0px 11px 8px -10px v(primaryColor),
        inset 0px -11px 8px -10px v(primaryColor); 



        @include margin-block(150px);
        height: 400px;
    }

}